<div class="container-fluid mt-5 about-style" id="aboutid">
    <div class="row">

      <div class="col-md-10 col-12 mx-auto ">
        <h1 class="text-center main-heading">About Us</h1>
        <p class="text-center sub-heading">grow your business with us </p>

        <div class="row">

          <div class="col-md-6 col-12 hero-text">

            <figure>
              <img src="images/aboutUs.webp" alt="hero section image">
            </figure>
          </div>



          {{!-- right side --}}
          <div class="col-md-6 col-12 hero-text d-flex justify-content-center align-items-center flex-column">

            <h1>WE ARE THE PROFESSIONAL DEVELOPERS</h1>
            <P>We Are the Team Of <span class="bold-style">Professional Developer </span> 
            Welcome To Our Team , Your Number One Source For All Things. We're Dedicated To Giving 
            You The Best Of Work , With A Focus On All The Characteristics
            </P>
            <button class="btn-style btn-success bg-success">READ MORE</button>

          </div>

        </div>

      </div>

    </div>
  </div>